*{
    margin: 0;
    padding: 0;
}

.topnav
{
    color: white;
    background-color: eaaa61;
    position: relative;
    padding: .75rem 1.25rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;  
}

div a
{
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    
}
.link
{
    font-weight: 500;
}

.navbar-light 
{
    display: inline-block;
}

.search-bar
{
    margin-bottom: .5rem!important;
    margin-top: .5rem!important;
    display: flex;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

.search-text
{
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: .5rem!important;
    padding: .375rem .75rem;
    font-size: medium;
    font-weight: 400;
    line-height: 1;
    color: #7d8185;
    background-color: #fff;
    border: none;
}
.btn-1
{
    padding: 6 15 6 15;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 5px;
    background-color: white;
    border: none;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    
}
.btn-2
{
    padding: 6 15 6 15;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 5px;
    background-color: white;
    border: none;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
}

#craft
{
    font-size: xx-large;
    font-weight: 500;
    margin-right: 9rem;
    margin-left: 4.5rem;
}

.nav-bar
{
    background-color: #f8f9fa!important;
    display: flex;
    align-items: center;

}

.dropdown
{
    margin-left: 20px;
    margin-right: 20px;
}

.cart-space
{
    margin-left: 20px;
    margin-right: 24.5rem
}

.search-space
{
    margin-right: 1.5rem;
}

ul { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 10px 0;
    font-weight: 500;
    color: black;
    text-align: center;
    align-items: center;
  }

  ul li a {
   
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    color: black;
  }
 
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }